/***GENERALITES***/
body {
    margin:0;
    padding:0;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color:#333;
    line-height:1.6em;
}
.container {
    width:90%;
    max-width:900px;
    margin:0 auto;
    /*background-color: #999;*/
}

/***TITRES***/
h1, h2, h3 {
    font-weight:normal;
    line-height:1.5em;
}
h1 {
    text-align: center;
    font-size:3rem;
    color:#40CCEA;
    word-spacing:10px;
    border-bottom: 1px dashed;
    display:block;
    width:90%;
    margin:auto;
}
h2 {
    font-size:1.6rem;
    text-transform:uppercase;
}
h3 {
    font-size:1.4rem;
}


/***HEADER***/
header {
    text-align:center;
}
header nav {
    background-color: #40CCEA;
    color: white;
}
header ul {
    display:flex;
    justify-content:center;
    list-style:none;
    padding:0.5rem;
}
header li {
    padding:0 3rem;
}
header nav a {
    color:white;
    text-decoration:none;
}


/***MAIN***/
main a {
    color:#0096D0;
    text-decoration:none;
}
main > section {
    margin:30px 0;
}


/***VOYAGES***/
.left {
    float:left;
    margin-right:1rem;
}
.right {
    float:right;
    margin-left:1rem;
}
.clearfix::after {
    content:"";
    display:block;
    clear:both;
}
.line {
    border-top: 1px solid;
}
.red {
    color:#F00;
}
.ocre {
    color:#CD8C56;
}
button {
    background-color: #0096D0;
    border:none;
    border-radius:6px;
    color:white;
    padding:0.4rem;
}
button a {
    color:white;
}
#voyages article {
    margin-bottom:25px;
}
#voyages img {
    max-width:49%;
}


/***A PROPOS***/
#a-propos {
    background-image: url(ressources/fond.jpg);
    background-size: cover;
    background-position: center;
    padding:2rem 0;
}
#a-propos article {
    box-sizing:border-box;
    background-color: #fff;
    width:50%;
    padding:2%;
    /*margin:2rem 0;*/
}


/***CONTACT***/
adress p {
    font-style:italic;
    margin:0;
}
.margin-b/*adress p:nth-child(4)*/ {
    margin-bottom:1.5em;
}
.fa-brands {
    font-size:2rem;
}
.fa-square-facebook {
    color:#4267B2;
}
.fa-square-twitter {
    color:#1da1f2;
}
.fa-square-pinterest {
    color:#bd081c;
}
.fa-square-instagram {
    color:#8948C1;
}

/***FOOTER***/
footer {
    background-color: #40CCEA;
    text-align:center;
    color:white;
    padding:1rem;
    margin-top:1.5em;
}
footer img {
    width:60px;
}
footer a {
    color:white;
}


/***BONUS***/
iframe {
    width:100%;
}
.gallery {
    background-color: #eee;
    display:flex;
    flex-wrap:wrap;
    padding:1.5em;
    justify-content:space-around;
}
.gallery article {
    box-sizing:border-box;
    width:calc(100% / 2 - 0.8em);
    background-color: #fff;
    text-align:center;
}
.margin-r {
    margin-right:1.5em;
}
.gallery article img {
    width:100%;
}
.gallery article p {
    padding:1em;
}